.scoring {
  height: var(--size-score-height);
  display: flex;
  justify-content: center;
  align-items: center;
}

.score,
.high-score {
  display: flex;
  margin: 0 0.625rem;
}

.score p,
.high-score p {
  margin: 3px;
}

#play-again {
  color: #d82f0a;
  font-weight: bold;
}
