#logo {
  height: var(--size-header-height);
}

header {
  width: 100%;
  padding: 10px;
  background-color: var(--color-red);
}

.header-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo {
  width: 100px;
}

.title {
  width: 1100px;
  text-align: center;
}
